table {
    width: fit-content;
}
.mat-table {
    mat-cell {
        background-color: white;
        width: 200px;
        flex: none;

        mat-checkbox {
            padding-left: 16px;
        }
    }
    mat-cell:first-child {
        padding-left: 0;
        border-left: 1px solid #e0e0e0;
    }
    mat-cell:last-child {
        padding-right: 0;
    }
    .mat-table-sticky:nth-child(3) {
        border-right: 1px solid #e0e0e0;
    }

    mat-footer-cell{
        width: 200px;
        flex: none;
    }

    mat-header-row {
        background-color: #f8f8f8;
        border-top: 1px solid #e0e0e0;
        mat-header-cell {
            background-color: #f8f8f8;
            width: 200px;
            flex: none;
            user-select: none;
            cursor: pointer;
            .header-title {
                font-size: 13px;
                font-weight: 500;
                .sort-icon {
                    width: 18px;
                    height: 18px;
                    min-width: 18px;
                    min-height: 18px;
                    font-size: 18px;
                    margin-left: 6px;
                    display: none;
                }
                .sort-icon.ascending {
                    transform: rotate(180deg);
                    display: block;
                }
                .sort-icon.descending {
                    display: block;
                }
            }
            mat-checkbox {
                padding-left: 16px;
            }
        }

        mat-header-cell:first-child {
            padding-left: 0;
            border-left: 1px solid #e0e0e0;
        }
        mat-header-cell:last-child {
            padding-right: 0;
        }
        mat-header-cell:hover {
            background-color: #f2f2f2;
            mat-icon.sort-icon {
                display: block !important;
            }
        }
    }

}

.cdk-drag-preview {
    box-sizing: border-box;
    background-color: #f2f2f2;
    opacity: 0.9;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14),
    0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
    opacity: 0;
}

.cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
.placeholder {
    background: #cc0000;
    border: dotted 3px #999;
    min-height: 42px;
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.buttons {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1000;
}

:host ::ng-deep .mat-sort-header-arrow {
    display: none!important;
}
