table {
    width: fit-content;
}
mat-cell,
mat-footer-cell,
mat-header-cell {
    width: 200px;
    flex: none;
}
.mat-table mat-cell {
    background-color: white;
}
.mat-table mat-header-cell {
    background-color: #f8f8f8;
}
.mat-table mat-cell:first-child {
    padding-left: 0px;
    border-left: 1px solid #e0e0e0;
}

.mat-table mat-cell:last-child {
    padding-right: 0px;
}

.mat-table mat-header-cell:first-child {
    padding-left: 0px;
    border-left: 1px solid #e0e0e0;
}

.mat-table mat-header-cell:last-child {
    padding-right: 0px;

}
.mat-table mat-header-cell:hover {
    background-color: #f2f2f2;
}
mat-header-row {
    background-color: #f8f8f8;
    border-top: 1px solid #e0e0e0;
}
mat-footer-row, mat-header-row, mat-row {
    border-bottom: 1px solid #e0e0e0;
    width: fit-content;
}
mat-header-cell.mat-table-sticky:nth-child(3) {
    border-right: 1px solid #e0e0e0;
}
mat-cell.mat-table-sticky:nth-child(3) {
    border-right: 1px solid #e0e0e0;
}
.cdk-drag-preview {
    box-sizing: border-box;
    background-color: #f2f2f2;
    opacity: 0.9;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14),
    0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
    opacity: 0;
}

.cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
.placeholder {
    background: #cc0000;
    border: dotted 3px #999;
    min-height: 42px;
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
:host {
    justify-content: flex-start;
    display: flex;
    flex-direction: column;
}

app-scroll-container {
    flex-grow: 0;
    flex-shrink: 0;
}

app-scroll-container.full {
    flex-basis: auto;
}

app-scroll-container.part {
    flex-basis: 200px;
}

.buttons {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1000;
}
mat-cell, mat-footer-cell, mat-header-cell {
    padding-left: 20px !important;
    box-sizing: border-box !important;
}

:host ::ng-deep .mat-sort-header-arrow {
    display: none!important;
}

mat-header-cell {
    mat-icon {
        display: none;
    }
}

mat-header-cell[aria-sort="descending"], mat-header-cell[aria-sort="ascending"]  {
    color: #0475d0;
    font-weight: bold;
    visibility: visible!important;
    mat-icon {
        display: initial;
    }
}
mat-header-cell[aria-sort="ascending"] {
    mat-icon {
        display: initial;
        transform: rotate(180deg);
    }
}

